<div class="container">

  <div class="row"> 
    <div class="col-md-12">
      
      <h2>Hi, {{ operator.operatorname }} </h2>
      <p>Well, I called you that because you&rsquo;re signed in as <strong> {{ operator.operatorname }}</strong> is all&hellip;</p>

      <h3>Or, were you going somewhere???</h3>
      <p><form action="/logout" method="post">
        <button class="btn btn-outline-danger btn-lg" type="submit">Logout</button>
      </form></p>

    </div>
    
  </div>
  <hr>
</div>