<div class="container">

  <div class="row"> 
    
    <div class="col-md-4">
      <h2>Thoughts on ExpressJS </h2>
      <p> It blows my mind that the people that come up with this stuff are ordinary people like you and me. </p>
      <p>What I find <strong>extraordinary</strong>, however, is the capacity ExpressJS has to be molded into a forged instrument to be reckoned with. For its part, any ExpressJS presentation can be as simple or as complex as any author would like.</p>
    </div>

    <div class="col-md-4">
      <h2>Thoughts on Heroku </h2>
      <p> I am hooked. Because you heard it here first.</p>
      <p>Obviously, any service that has a free&#45;tier is a good service. I am still trying to get over how I hadn&rsquo;t used it in the past. </p>
      <p>Now I am going to use it&#45;&#45; Lord, willing &#45;&#45;in order to make up for lost time! </p>
      <p>If there wasn&rsquo;t a Heroku, then, I would not be able to publish toy projects such as this one. </p>
    </div>

    <div class="col-md-4">
      <h2>Thoughts on MongoDB&#45;Atlas </h2>
      <p> By far this is the funnest component of the bunch!</p>
      <p> Yeah, yeah&hellip; the free&#45;tier applies here, too. But what cannot be matched is the fun&#45;factor involved in bringing in a <strong>remote</strong> database server response during <strong>development</strong> on your local desktop.</p>
    </div>
  </div>
  
  <hr>
</div>