<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  
  <a class="navbar-brand" href="/">Index</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    
    <ul class="navbar-nav mr-auto">
      
      {{#if operator}}
      <li class="nav-item">
        <a class="btn btn-outline-info" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-warning" href="/api">Visit the API</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/methodology">Methodology</a>
      </li>
      {{/if}}      
    </ul>

    {{#if operator}}
    <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
    {{/if}}

    
  </div>

</nav>

