<script src="/third-party/jquery/dist/jquery.min.js"></script>
<script src="/third-party/popper.js/dist/umd/popper.min.js"></script>
<script src="/third-party/bootstrap/dist/js/bootstrap.min.js"></script>
