{{#if operator}}
  
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{title}}</h1>
      <p>Welcome to {{title}}</p>
      
      <div class="table-responsive">
        
        <h2>Login</h2>
        {{#if message}}
          <h4>{{ message }}</h4>
        {{/if}}

        <form id="auth" action="/api" method="post" class="form-helper needs-validation" novalidate>

          <div class="form-group">
            <label for="operatorname">Name</label>
            <input type="text" class="form-control" id="operatorname" name="operatorname" value={{ operator.operatorname }} required />
            <div class="invalid-feedback">Enter a value</div>
            <div class="valid-feedback">This area is fine!</div>
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value={{ operator.email }} required />
            <div class="invalid-feedback">Enter a value</div>
            <div class="valid-feedback">This area is fine!</div>
          </div>
          
          <button type="submit" class="btn btn-outline-warning btn-lg">Click to start</button>

        </form>

      </div>

    </div>
  </div>

  <div class="container">

    <div class="row"> 
      <div class="col-md-12">
        
        <h2>Welcome, {{ operator.operatorname }}</h2>
        <p>We hope you find everything in order during your visit today.</p>

      </div>
      
    </div>
    <hr>
  </div>
{{/if}}