{{#if operator}}
  
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{title}}</h1>
      <p>Welcome to {{title}}</p>
      <ul>
        {{!-- <li>ID: {{ operator.id }}</li> --}}
        <li>ID: {{ operator._id }}</li>
        <li>Operator name: {{ operator.operatorname }}</li>
        <li>Email: {{ operator.email }} </li>
      </ul>
      <p><a class="btn btn-success btn-lg" href="/" role="button">Index page &raquo;</a></p>
    </div>
  </div>

  <div class="container">

    <div class="row"> 
      <div class="col-md-12">
        
        <h2>Welcome, {{ operator.operatorname }}</h2>
        <p> Is {{ operator.operatorname }} looking to use the api? </p>
        <p><a class="btn btn-warning btn-lg" href="/api" role="button">Visit the API &raquo;</a></p>

      </div>
      
    </div>

    <hr>
  </div>
{{/if}}