
<div class="jumbotron">
  <div class="container">

    <h1 class="display-3">{{title}}</h1>
    <p>Welcome to {{title}}</p>
    
    {{#if operator }}
      <p><a class="btn btn-info btn-lg" href="/home" role="button">Home &raquo;</a></p>
    {{/if}}
    
  </div>
</div>

<div class="container">

  <div class="row"> 
    <div class="col-md-6">
      
      {{#if operatorId }}
      {{!-- <p>operatorId is true and it exists</p> --}}
      
      <h2>Welcome back{{#if operator }}, {{ operator.operatorname }}{{/if}}! </h2>
      <p><a class="btn btn-info btn-lg" href="/home" role="button">Home &raquo;</a></p>

      <h3>Must you be going now?</h3>
      <div><form action="/logout" method="post">
        <button class="btn btn-danger btn-lg" type="submit">Logout</button>
      </form></div>
      
      {{else}}
      
      <h2>Welcome, &hellip;you!</h2>
      {{!-- <p> operatorId DOES NOT EXIST.</p> --}}
      <p><a class="btn btn-outline-success btn-lg" href="/login" role="button">Login &raquo;</a></p>
      <p><a class="btn btn-outline-success btn-lg" href="/register" role="button">Register &raquo;</a></p>
      {{/if}}

    </div>
    <div class="col-md-6">
      <h2>How did I do it you ask?</h2>
      <p>These were essential to the success of the project:</p>
      <ul>
        {{#each words }}
          <li> {{ mycaps this }} </li>
        {{/each}}
      </ul>
      {{!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> --}}
    </div>
  </div>

  <hr>

</div>