<!DOCTYPE html>
<html>
  
  {{> head}}

  <body>
    
    {{> header }}

    <main role="main">
      {{{body}}}
    </main>
    
    
    {{> footer }}

    {{> scripts }}

  </body>
</html>

{{!-- <!DOCTYPE html>
<html>
  
  {{> head}}

  <body>
    
    {{> header }}

    {{{body}}}
    
    {{> footer }}

    {{> scripts }}

  </body>
</html> --}}

{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
 --}}