<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{ title }}</h1>
    <p>Welcome to the {{ message }}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <div class="table-responsive">
        
        <h3>Insert New Pirate Data</h3>
        {{!-- <form action="/insert" method="post"> --}}
        
        <form id="insert" method="post" class="form-helper needs-validation" novalidate>

          <div class="form-group">
            <label for="nickname">Nickname:</label>
            <input type="text" class="form-control" id="nickname" name="nickname">
          </div>

          <div class="form-group">
            <label for="first">First Name &amp; Middle Initial</label>
            <input type="text" class="form-control" id="first" name="first">
            <label for="last">Last name:</label>
            <input type="text" class="form-control" id="last" name="last">
          </div>

          <div class="form-group">
            <label for="gender">Gender:</label>
            <input type="text" class="form-control" id="gender" name="gender">
          </div>

          <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" class="form-control" id="age" name="age">
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email">
          </div>

          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" name="location">
          </div>
          <button type="submit" class="btn btn-outline-success btn-lg">INSERT</button>
        </form>

      </div>
      
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row"> 
      <div class="col-md-12">
        
        <div class="table-responsive">

              {{#if items }}
                <h2>You have results</h2>
                <div class="shadow-lg">
                  {{# each items }}
                  <article class="card mb-4 shadow-sm">
                    <h5>{{ this.name.first }} {{ this.name.last }} (ID: {{ this._id }})</h5>
                    {{!-- <div>ID: {{ this._id }}</div> --}}
                    <div>nickname: {{ this.nickname }}</div>
                    {{!-- <div>first and last names: {{ this.name.first }} {{ this.name.last }}</div> --}}
                    <div>Gender: {{ this.gender }}</div>
                    <div>Age: {{ this.age }}</div>
                    <div>Email: {{ this.email }}</div>
                    
                    {{# if this.sightings }}
                    <div>Latest Sightings: 
                      <ul>
                        {{# each this.sightings }}
                        <li> {{ prettifyTheDates this }}</li>
                        {{/each}}
                      </ul>
                    </div>
                    {{/if}}

                    <div>City of origin: {{ this.location }} </div>

                    {{ safeLinks this._id }}

                  </article>
                  {{/each}}
                </div>
              {{else}}
                <h2>No results</h2>
                <p>It is likely there are no people in your records.</p>
              {{/if}}
          
        </div>

      </div>
      
    </div>
  </div>
</div>

{{> container_one_column_generic }}