<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{title}}</h1>
    <p>Welcome to {{title}}</p>
    
    <div class="table-responsive">
      
      <h2>Login</h2>
      {{#if message}}
        <h4>{{ message }}</h4>
      {{/if}}

      {{#if errors }}
        <ul>
          {{#each errors }}
          {{!-- <li>{{ this.msg }}</li> --}}
          <li>{{ this.param }} cannot use &quot;{{ this.value }}&quot; because it is an {{ this.msg }}</li>
          {{/each}}
        </ul>
      {{/if}}

      <form id="log" action="/login" method="post" class="form-helper needs-validation" novalidate>
        <div class="form-group">
          <label for="email">Email address</label>
          <input autofocus type="email" class="form-control" id="email" name="email" placeholder="john@doe.com" required>
          <div class="invalid-feedback">Enter a value</div>
          <div class="valid-feedback">This area is fine!</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
          <div class="invalid-feedback">Enter a value</div>
          <div class="valid-feedback">This area is fine!</div>
        </div>
        
        <button type="submit" class="btn btn-success btn-lg">Login</button>

      </form>

    </div>

    <p><a class="btn btn-outline-success btn-lg" href="/register" role="button">Register &raquo;</a></p>

  </div>
</div>

{{> container_three_column_generic }}
