
<div class="jumbotron">
  <div class="container">

    <h1 class="display-3">{{title}}</h1>
    <p>Welcome to {{title}}</p>
    
  </div>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Here is what&rsquo;s &quot;under the hood&quot;</h1>
  <p class="lead">The server includes performance boosting directives and security precautions.</p>
  <p class="lead">The routes (depending on the portion of the website we are focused on) include minor enhancements, too.</p>
  <p class="lead">The website includes best&#45;practices appropriate for use with Heroku, ExpressJS, and MongoDB.</p>
  <p class="lead">Byte for byte, you cannot get much a <strong>safer</strong> or <strong>faster</strong> experience than what has been presented for you today. I hope you enjoy your visit.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
        
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">The Application</h4>
      </div>
      <div class="card-body">
        {{!-- <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1> --}}
        <ul class="list-group mt-3 mb-4">
          <li>The `X&#45;Powered&#45;By` response header is removed, and ETags are neutralized</li>
          <li>Each `Cache&#45;Control` and `Expires` are applied (based on extension) for future caching</li>
        </ul>
        {{!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> --}}
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">The Routes</h4>
      </div>
      <div class="card-body">
        {{!-- <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1> --}}
        <ul class="list-group mt-3 mb-4">
          <li>All extensions that the app overlooked are now infused with their own `Pragma` and `Expires` headers set to 'no&#45;cache', plus, the obligatory `Cache&#45;Control` header to set all other items to <strong>zero (0) milliseconds</strong></li>
          <li>Some minimal application of Content&#45;Security&#45;Policy to our routes in order to mitigate any pesky intrusion attempts from outside of our own domain</li>
        </ul>
        {{!-- <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button> --}}
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Best Practices</h4>
      </div>
      <div class="card-body">
        {{!-- <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1> --}}
        <ul class="list-group mt-3 mb-4">
          <li>Basic input validation with express-validator</li>
          <li>Basic password hashing/comparison</li>
          <li>Baseline header settings with helmet</li>
          <li><strong>compression</strong> to enable Gzip for faster download</li>
          <li>express-handlebars for Handlebars customizations (i.e.-- <strong>SafeString</strong> )</li>
          <li><strong>async/await functions</strong> are super powerful &amp; you are missing out if you haven&rsquo;t <strong>at least</strong> read each the <a target="_blank" rel="noopener noreferrer" href="https://expressjs.com/en/advanced/best-practice-performance.html">best practices for performance guide</a> and the <a target="_blank" rel="noopener noreferrer" href="https://www.mongodb.com/blog/post/optimizing-aws-lambda-performance-with-mongodb-atlas-and-nodejs">mongo blog</a> and the <a target="_blank" rel="noopener noreferrer" href="https://docs.atlas.mongodb.com/best-practices-connecting-to-aws-lambda/#example">mongo docs</a> </li>
          <li>Strategic utilization of temporary env variables (as opposed to being tucking env vars into the package.json)</li>
        </ul>
        {{!-- <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button> --}}
      </div>
    </div>

  </div>
</div>
