{{#if operator}}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Safe Page</h1>
      <p>Welcome to {{ title }}</p>
      
      <div class="table-responsive">
        
          <h4>{{ message }}, {{ operator.operatorname }}. </h4>

          {{!-- <p>Visit the <a href="/api/live">the live site</a> site now.</p> --}}
          {{!-- <p>Visit the <a class="btn btn-outline-success" href="/api/live">the live site</a> site now.</p> --}}
          <p>Visit <a class="btn badge badge-success" href="/api/live">the live site</a> now.</p>
          
        
      </div>

    </div>
  </div>

  <div class="container">

    <div class="row"> 
      <div class="col-md-12">
        
        <h2>Welcome back, {{ operator.operatorname }}</h2>
        {{!-- <p>Feel free to visit <a href="/api/live">the live site</a> now.</p> --}}
        <p>Feel free to visit <a class="btn badge badge-success" href="/api/live">the live site</a> now.</p>

      </div>
      
    </div>
    <hr>
  </div>
{{/if }}