  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{ title }}</h1>
      <p>Welcome to {{ message }}</p>
      
      <div class="table-responsive">

          <section>
            {{#if prospect }}
            <h2>Edit here:</h2>
              {{!-- <form action="/update" method="post"> --}}
            <form id="update" method="post" class="form-helper needs-validation" novalidate>
              
              {{!-- <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" id="id" name="id">
              </div> --}}

              <div class="form-group">
                <label for="nickname">Nickname:</label>
                <input type="text" class="form-control" id="nickname" name="nickname" value="{{prospect.nickname}}">
              </div>

              <div class="form-group">
                <label for="first">First Name &amp; Middle Initial</label>
                <input type="text" class="form-control" id="first" name="first" value="{{prospect.name.first}}">
                <label for="last">Last name:</label>
                <input type="text" class="form-control" id="last" name="last" value="{{prospect.name.last}}">
              </div>

              <div class="form-group">
                <label for="gender">Gender:</label>
                <input type="text" class="form-control" id="gender" name="gender" value="{{prospect.gender}}">
              </div>

              <div class="form-group">
                <label for="age">Age:</label>
                <input type="text" class="form-control" id="age" name="age" value="{{prospect.age}}">
              </div>

              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email" value="{{prospect.email}}">
              </div>

              <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" class="form-control" id="location" name="location" value="{{prospect.location}}">
              </div>

              <button type="submit" class="btn btn-outline-success btn-lg">UPDATE</button>
            </form>
            {{else}}
            <h2>How strange!</h2>
            <p>Something is up&hellip;</p>
            {{/if}}

          </section>
        
      </div>

    </div>
  </div>

  {{> container_one_column_generic }}